.footer-parent {
    background-color: #1E1E1E;
    color: #D8D8D8;
    height: 85px;
    
    .footer-cont {
        display: flex;
        height: 100%;
    }
    .footer-btns {
        margin: auto;
        text-align: center;
        display: flex;  
            a {
                font-size: 55px !important;
                color: inherit;
                font-size: 24px;    
                font-weight: normal;    
                text-decoration: none;
                margin-left: 20px;
                margin-right: 20px;

            }
    }
}