.naver {
    display: flex;
    height: 45px;
    border-bottom: #eee;
    flex-wrap: nowrap;

.navigator {
    order: 0;
    display: flex;
    height: 100%;
    width: 50%;

    a {
        display: flex;
        cursor: pointer;
        list-style-type: none;
        text-decoration: none;
        height: 95%;
        border-top: 1px transparent solid;
    }
    a:hover {
        background-color: rgba(227,229,233, .85);
    }
    a span {
        margin: auto 15px auto 15px;
    }
}

.icons {
    order: 1;
    width: 50%;
    height: 100%;
    display: flex;

.iconset {
    margin-left: auto;
    display: flex;

    a {
        margin: auto 15px auto 15px;
    }
    i {
        color: rgba(0, 0, 0, .55);
        font-size: 26px;
    }
    i:hover {
        color: rgba(0, 0, 0, 1);
    }
    @media(max-width: 800px) {
        a {
            margin: auto 25px auto 25px;
        }
    }
}
}
}

.nav {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 5000;
}